<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.dao.IEmployeeDao">
	<resultMap type="com.edu.entity.Employee" id="baseResultMap">
		<id column="emp_id" property="empId" />
		<result column="id" property="id" />
		<result column="emp_account" property="empAccount" />
		<result column="emp_name" property="empName" />
		<result column="emp_phone" property="empPhone" />
		<result column="emp_email" property="empEmail" />
		<result column="emp_pass" property="empPass" />
		<result column="emp_salt" property="empSalt" />
		<result column="emp_permission" property="empPermission" />
		<result column="co_id" property="coId" />
	</resultMap>
	<sql id="baseList">
		id,emp_id,emp_account,emp_name,emp_phone,emp_email,emp_pass,emp_salt,emp_permission,co_id
	</sql>

	<select id="selEmployee" resultMap="baseResultMap">
		select a.* from(select rownum as rn ,
		<include refid="baseList" />
		from employee
		<where>
			rownum &lt;=(10*#{pageNum})
			<if test="empId !=null and empId !=''">
				and empId = #{empId}
			</if>
			and co_id = #{coId}
		</where>)
		a where a.rn &gt;= (10*(#{pageNum}-1))
	</select>
	<update id="uptEmployee">
		update employee
		<set>
			emp_name =#{empName}
		</set>
		where emp_id = #{emp_id}
	</update>
	<delete id="delEmployee">
		delete from employee
		where emp_id =#{empId} and co_id = #{coId}
	</delete>
	<insert id="insEmployees" parameterType="list">
		insert into employee
		select emp_seq.nextval,cd.* from(
		<foreach collection="list" item="obj" separator="UNION ALL">
			select
			#{obj.empId},#{obj.empAccount},#{obj.empName},#{obj.empPhone},#{obj.empEmail},#{obj.empPass},#{obj.empSalt},#{obj.empPermission},#{obj.coId}
			from dual
		</foreach>
		) cd
	</insert>
	<select id="selMaxEmpId" parameterType="string" resultType="string">
		select emp_id from employee where id =
		(select max(id) from employee where co_id = #{coId})
	</select>
	<insert id="insEmployee" parameterType="com.edu.entity.Employee">
		insert into employee
		values
		(
		emp_seq.nextval,#{empId},#{empAccount},#{empName}
		,#{empPhone},#{empEmail},#{empPass},#{empSalt},#{empPermission},#{coId}
		)
	</insert>

	<select id="employeeExist" resultType="_int">
		select count(id)
		from
		employee
		where emp_id = #{empId} and co_id = #{coId}
	</select>
	<update id="uptEmployeeByPass">
		update employee set emp_pass = empPass where emp_id = #{empId} and co_id =
		#{coId}
	</update>
	<select id="selEmpNum" parameterType="string" resultType="_int">
		select
		count(id) from employee where co_id = #{coId}
	</select>

	<select id="loginEmp" parameterType="string" resultMap="baseResultMap">
		select
		<include refid="baseList" />
		from employee where emp_account = #{empAccount}
	</select>

	<select id="selEmpCount" parameterType="string" resultType="int">
		select count(1) from employee where co_id = #{coId}
	</select>
	<select id="selMoneyCount" parameterType="string" resultType="java.math.BigDecimal">
		select sum(ind_money) from indent where co_id =#{coId} and ind_type='已确认'
	</select>
</mapper>