<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.dao.IFinanceDao">
	<resultMap type="com.edu.entity.Finance" id="baseResult">
		<id column="fin_id" property="finId" />
		<result column="id" property="id" />
		<result column="fin_type" property="finType" />
		<result column="fin_date" property="funDate" />
		<result column="fin_money" property="finMoney" javaType="java.math.BigDecimal" />
		<result column="co_id" property="coId" />
		<result column="ind_id" property="indId" />
	</resultMap>
	<sql id="baseList">id,fin_id,fin_type,fin_date,fin_money,co_id,ind_id</sql>
	<select id="selFinanceCountByEmpInfo" resultType="int">
		select count(1) from finance a
		inner join company b on a.co_id = b.co_id
		<if test="empPer=='1'.toString()">
			inner join employee c on b.co_id = c.co_id
		</if>
		<where>
			<if test="empPer=='1'.toString()">
				and c.emp_id = #{empInfo}
			</if>
			<if test="empPer!='1'.toString()">
				and b.co_id = #{empInfo}
			</if>
			and a.fin_date = trunc(sysdate)
		</where>
	</select>
	<select id="selFinance" resultMap="baseResult">
		select a.* form (
		select rownum as rn,
		a.id,fin_id,fin_type,fin_date,fin_money,a.co_id,a.ind_id
		from finance a
		<where>
			rownum &lt;=(10*#{pageNum})
			and co_id =#{coId}
			<if test="finId!=null and finId !=''">
				and a.fin_id = #{finId}
			</if>
		</where>
		) a where a.rn &gt;= (10*(#{pageNum}-1))
	</select>

	<select id="maxFinId" resultType="string">
		select fin_id from finance
		where id = (select max(id) from finance where fin_date>=trunc(sysdate)
		and fin_date &lt;
		trunc(sysdate)+1)
	</select>

	<insert id="insFinace" parameterType="com.edu.entity.Finance">
		insert into finance
		values(fin_seq.nextval,#{finId},#{finType},#{finDate},#{finMoney},#{coId},#{indId})
	</insert>


</mapper>