<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.dao.IFunctionDIYDao">
	<resultMap type="com.edu.entity.FunctionDIY" id="baseResult">
		<id column="fun_id" property="funId" />
		<result column="id" property="id" />
		<result column="fun_name" property="funName" />
		<result column="fun_url" property="funUrl" />
		<result column="fun_icon" property="funIcon" />
	</resultMap>


	<select id="selFunction" parameterType="string" resultMap="baseResult">
		select b.id,b.fun_id,fun_name,fun_url,fun_icon from funperrela a inner join
		functiondiy b on a.fun_id =
		b.fun_id where a.emp_permission =
		#{permission}
	</select>
</mapper>