<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.dao.IHouseDao">
	<resultMap type="com.edu.entity.House" id="baseResultMap">
		<id column="hou_id" property="houId" />
		<result column="id" property="id" />
		<result column="hou_name" property="houName" />
		<result column="hou_status" property="houStatus" />
		<result column="hou_type" property="houtype" />
		<result column="hou_floor" property="houFloor" />
		<result column="hou_build" property="houBuild" />
		<result column="hou_money" property="houMoney" />
		<result column="hou_add" property="houAdd" />
		<result column="hou_img" property="houImg" />
		<result column="hou_bed" property="houBed" />
		<result column="hou_bath" property="houBath" />
		<result column="hou_living" property="houLiving" />
		<result column="emp_id" property="empId" />
	</resultMap>

	<sql id="baseList">
		id,hou_id,hou_name,hou_status,hou_type,hou_floor,hou_build,hou_money,hou_add
		,hou_img,hou_bed,hou_bath,hou_living,emp_id
	</sql>


	<select id="selHouse" resultMap="baseResultMap">
		select * from house where co_Id= #{coId}
		<if test="empId !=null and empId !=''">
			and emp_id = #{empId}
		</if>
	</select>

	<insert id="insHouse" parameterType="com.edu.entity.House">
		insert into house values(
		hou_seq.nextval
		,#{houId},#{houName},#{houStatus},#{houType},#{houFloor},#{houBuild},#{houMoney},#{houAdd},#{houImg}
		,#{houBed},#{houBath},#{houLiving},#{empId})
	</insert>
	<delete id="delHouse" parameterType="string">
		delete from house where
		hou_Id = #{houId}
	</delete>

	<update id="uptHouseStatus" parameterType="string">
		update house set
		hou_status = '未出租' where hou_id = #{houId}
	</update>

	<select id="selHouseExist" resultType="_int">
		select count(hou_id) from
		house where hou_id = #{houId} and co_id =#{coId}
	</select>

	<select id="selHouseMaxId" resultType="string">
		select hou_id from house where id = (select max(id) from house
		where instr(hou_id,#{dateStr}) >0)
	</select>
	<select id="selHouseCountByEmpId" resultType="int">
		select count(1) from house a
		<if test="empPer == '2'.toString()">
			inner join employee b on a.emp_id = b.emp_id inner join
			company c on b.co_id = c.co_id
		</if>
		<where>
			<if test="empPer == '1'.toString()">
				and emp_id = #{empInfo}
			</if>
			<if test="empPer == '2'.toString()">
				and b.co_id=#{empInfo}
			</if>
		</where>
	</select>

</mapper>