<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.dao.IIndentDao">
	<resultMap type="com.edu.entity.Indent" id="baseResultMap">
		<id column="ind_id" property="indId" />
		<result column="id" property="id" />
		<result column="ind_date" property="indDate" />
		<result column="ind_type" property="indType" />
		<result column="ind_info" property="indInfo" />
		<result column="hou_id" property="houId" />
		<result column="hou_money" property="houMoney" />
		<result column="ind_money" property="indMoney" />
		<result column="ind_discount" property="indDiscount" />
		<result column="cus_id" property="cusId" />
		<result column="co_id" property="coId" />
		<result column="ind_day" property="indDay" />
	</resultMap>

	<sql id="baseList">
		id,ind_id,ind_date,ind_type,ind_info,hou_id,hou_money,ind_money,ind_discount,cus_id,co_id,ind_day
	</sql>
	<!-- <select id="selIndentForEmp" resultMap="baseResultMap"> select id,ind_id,ind_date,ind_type,ind_info,hou_id,hou_money, 
		ind_money,ind_discount,bar_id,cus_id,co_id from indent a inner join company 
		b on a.co_id = b.co_id inner join employee c on c. </select> -->

	<select id="selIndentForEmp" resultMap="baseResultMap">
		select a.* from(select rownum as rn,
		a.id,ind_id,ind_date,ind_type,ind_info,b.hou_id,b.hou_money,
		ind_money,ind_discount,cus_id,a.co_id,ind_day
		from indent a
		inner join
		house b on a.hou_id = b.hou_id
		inner join
		employee c on
		b.emp_id =
		c.emp_id and a.co_id = c.co_id
		<where>
			rownum &lt;=(10*#{pageNum})
			and c.emp_id = #{empId}
			and c.co_id =
			#{coId}
			<if test="indId != null and indId != ''">
				and ind_id = #{indId}
			</if>
		</where>)
		a where a.rn &gt;= (10*(#{pageNum}-1))
	</select>
	<select id="selIndentForAdmin" resultMap="baseResultMap">
		select a.* from(select rownum as rn,
		<include refid="baseList" />
		from indent
		<where>
			rownum &lt;=(10*#{pageNum})
			and co_id =#{coId}
			<if test="indId != null and indId != ''">
				and ind_id = #{indId}
			</if>
		</where>)
		a where a.rn &gt;= (10*(#{pageNum}-1))
	</select>
	<select id="indentExist">
		select count(ind_id) from indent where ind_id =
		#{indId} and co_id = #{coId}
	</select>
	<update id="uptIndentType">
		update indent set ind_type = #{indType} where ind_id
		= #{indId}
	</update>
	<delete id="delIndent">
		delete indent where ind_id = #{indId} and co_id =
		#{coId} and ind_type =
		'审核中'
	</delete>
	<insert id="insIndent" parameterType="com.edu.entity.Indent">
		insert into indent values
		(ind_seq.nextval,#{indId},#{indDate},#{indType},#{indInfo},#{houId},#{houMoney},#{indMoney},
		#{indDiscount},#{cusId},#{coId},#{indDay})
	</insert>
	<select id="maxIndentId" resultType="_int">
		select ind_id from indent
		where id = (
		select max(id) from indent where ind_date>=trunc(sysdate)
		and ind_date &lt; trunc(sysdate)+1)
	</select>

	<select id="selIndentByIds" resultType="com.edu.entity.Indent">
		select
		<include refid="baseList" />
		from
		indent where ind_id = #{indId} and co_id = #{coId}
	</select>
	<select id="selIndentCountByEmpInfo" resultType="int">
		select count(1) from indent a
		inner join company b on a.co_id = b.co_id
		<if test="empPer == '1'.toString()">
			inner join employee c on b.co_id = c.co_id
		</if>
		<where>
			and a.ind_type = '审核中'
			<if test="empPer == '1'.toString()">
				and c.emp_id = #{empInfo}
			</if>
			<if test="empPer != '1'.toString()">
				and b.co_id=#{empInfo}
			</if>
		</where>
	</select>

</mapper>